<h3>Все наши посты</h3>
<% @post.each do |post|%>
<div class = "alert alert-light">
<h3> <%= post.title %></h3>
<p> <%= post.body %></p>
<%= link_to "Read more", post_path(post), :class => 'btn btn-outline-primary'%>
</div>
<br>
<% end %>
